
.env
.env.local
.env.*.local
**/application-prod.yml
**/application-production.yml
**/application-secret.yml

*.class

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.jar
*.war
*.ear
*.nar

*.zip
*.tar.gz
*.rar

.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

http-client.env.json
http-client.private.env.json

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
.vscode/
*.code-workspace

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

Thumbs.db
desktop.ini
$RECYCLE.BIN/
logs/
log/
*.log
*.log.*
spring.log
nohup.out
docker-compose.override.yml

**/test-results/
**/surefire-reports/
**/failsafe-reports/
**/jacoco.exec
**/jacoco/
*.pid
*.seed
*.pid.lock
*.db
*.mv.db
*.trace.db

.reloadtrigger

postgres-data/
minio-data/

.mvn/wrapper/maven-wrapper.jar


*.swp
*.swo


